body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

#Menu{
    width: 10rem;
    text-align: center;
    background-color: #0D6EFD;
    color: white;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-left: -2.5rem;
    height: 10rem;
    cursor: pointer;
    display: none;
}

#displayuser{
    text-align: center;
    margin-left: 20rem;
}

